/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* root */

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: "HK Grotesk";
}

/* top lvl styles */

.sm-section {
  margin-bottom: 1.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 0 6rem;
}

#TopInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

