/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* root */

:root {
  --sepia: #FFF0D2;
  --soft-black: #2B2A33;
  --soft-black-lighter: #585669;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: "HK Grotesk", sans-serif;
/*   color: var(--soft-black); */
}

body {
  min-height: 100vh;
/*   background: var(--sepia); */
}

/* -------- main lvl styles -------- */

/* global classes */
.sm-section {
  margin-bottom: 1.5rem;
}

.site-btn {
  width: 100%;
  margin-bottom: .5rem;
  border-radius: 10px;
  background: var(--soft-black);
}

/* tags, ids, and specifics */
button {
  border: none;
  padding: .5rem 0;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
/*   color: var(--sepia); */
}

.site-btn:hover {
  background: var(--soft-black-lighter);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

header p {
  text-align: right;
}

#TopInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1.5rem;
  border: 2px solid gray;
  border-radius: 10px;
}

#SitesList {
  width: 100%;
}

#SitesList h2 {
  margin-bottom: .25rem
}

